* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  border: none;
}

html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  border: none;
}
section {
  scroll-margin-top: 80px;
}

:root {
  /* COLORES PRINCIPALES */
  --color-primary: #15f4ed;
  --color-secondary: #1c3372;
  --color-tertiary: #6624f6;

  /* VARIACIONES GENERADAS */
  --color-primary-light: #4dffdb;
  --color-primary-dark: #14c8b9;

  --color-secondary-light: #2c2c8a;
  --color-secondary-dark: #14165a;

  --color-tertiary-light: #9b63f5;
  --color-tertiary-dark: #5b00cb;

  /* COLORES DE TEXTO */
  --text-light: #ffffff;
  --text-muted: #c0c0d3;

  /* FONDOS */
  --bg-main: var(--color-primary);
  --bg-card: var(--color-secondary);

  /* BORDES */
  --border-accent: #387add;

  --primary-100: color-mix(in srgb, var(--color-primary) 20%, white);
  --primary-200: color-mix(in srgb, var(--color-primary) 40%, white);
  --primary-300: color-mix(in srgb, var(--color-primary) 60%, white);
  --primary-400: color-mix(in srgb, var(--color-primary) 80%, white);

  --primary-500: var(--color-primary);

  --primary-600: color-mix(in srgb, var(--color-primary) 80%, black);
  --primary-700: color-mix(in srgb, var(--color-primary) 60%, black);
  --primary-800: color-mix(in srgb, var(--color-primary) 40%, black);

  --secondary-100: color-mix(in srgb, var(--color-secondary) 20%, white);
  --secondary-200: color-mix(in srgb, var(--color-secondary) 40%, white);
  --secondary-300: color-mix(in srgb, var(--color-secondary) 60%, white);
  --secondary-400: color-mix(in srgb, var(--color-secondary) 80%, white);

  --secondary-500: var(--color-secondary);

  --secondary-600: color-mix(in srgb, var(--color-secondary) 80%, black);
  --secondary-700: color-mix(in srgb, var(--color-secondary) 60%, black);
  --secondary-800: color-mix(in srgb, var(--color-secondary) 40%, black);

  --tertiary-100: color-mix(in srgb, var(--color-tertiary) 20%, white);
  --tertiary-200: color-mix(in srgb, var(--color-tertiary) 40%, white);
  --tertiary-300: color-mix(in srgb, var(--color-tertiary) 60%, white);
  --tertiary-400: color-mix(in srgb, var(--color-tertiary) 80%, white);

  --tertiary-500: var(--color-tertiary);

  --tertiary-600: color-mix(in srgb, var(--color-tertiary) 80%, black);
  --tertiary-700: color-mix(in srgb, var(--color-tertiary) 60%, black);
  --tertiary-800: color-mix(in srgb, var(--color-tertiary) 40%, black);
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  width: 100%;
  overflow-x: hidden;
}
