@keyframes movimientoFondo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes floatLogo {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
  }
}

.badge {
  background: rgba(235, 146, 37, 0.85);
  color: #2b1400;
  padding: 0.5rem 1.2rem;
  border-radius: 40px;
  font-weight: 600;
  font-size: 0.85rem;
  letter-spacing: 1px;

  position: absolute;
  top: 140px;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.parent {
  min-height: 100vh;
  width: 100%;
  gap: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  background:
    linear-gradient(rgba(0, 0, 0, 0.181), rgba(0, 0, 0, 0.253)),
    url("/fondo-panteon2.avif");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logo {
  width: 260px;
  height: 260px;
  object-fit: cover;
  margin-bottom: 10px;
  animation: floatLogo 6s ease-in-out infinite;
}

.gradient-orb {
  position: absolute;
  border-radius: 50%;
  filter: blur(80px);
  opacity: 0.4;
  animation: float 20s infinite;
}

.orb-1 {
  width: 500px;
  height: 500px;
  background: #bfb115;
  top: -200px;
  left: -200px;
}

.orb-2 {
  width: 400px;
  height: 400px;
  background: #d9b162;
  bottom: -200px;
  right: -200px;
  animation-delay: -5s;
}

.orb-3 {
  width: 300px;
  height: 300px;
  background: #f2a766;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-delay: -10s;
}
.resaltado {
  color: #f6c377;
  font-weight: bold;
  font-size: 70px;
  letter-spacing: 2px;
  text-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
}

.resaltado::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 8px;
  background: rgba(255, 149, 0, 0.2);
  z-index: -1;
}

h4 {
  font-size: 1.8rem;
  margin-top: 10px;
  color: #ffd9a3;
}

h5 {
  max-width: 600px;
  font-size: 1.1rem;
  color: #f3e3c9;
  line-height: 1.6;
}

.botonera {
  display: flex;
  width: 100%;
  justify-content: center;
}
