.btn {
  padding: 10px 18px;
  border-radius: 10px;
  margin: 10px;
  transition: all 0.25s ease;
  border: none;
}

.claro {
  background-color: var(--color-primary-light) !important;
  color: var(--secondary-800) !important;
  border: var(--primary-600) solid !important;
  transition: all 0.5s ease-in;
}

.claro:hover {
  background-color: var(--primary-500) !important;
}

.claro-brand {
  font-weight: 500;
  letter-spacing: 0.5px;
  position: relative;
  transition: color 0.3s ease;
  margin: 0 15px;
}

.claro-brand::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, #000000, var(--color-tertiary-light));
  transition: width 0.3s ease;
}

.claro-brand:hover::after {
  width: 100%;
}

.oscuro {
  background-color: var(--secondary-800) !important;
  color: var(--color-tertiary) !important;
  border: var(--secondary-700) solid !important;
}

.oscuro:hover {
  background-color: var(--color-secondary-dark) !important;
}
.oscuro-brand {
  font-weight: 500;
  letter-spacing: 0.5px;
  position: relative;
  transition: color 0.3s ease;
  margin: 0 15px;
}

.oscuro-brand::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, #000000, var(--color-primary-dark));
  transition: width 0.3s ease;
}

.oscuro-brand:hover::after {
  width: 100%;
}
