.about-features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 300px));
  justify-content: center;
  gap: 2rem;
  /* margin-top: 2rem; */
}

.feature-item {
  text-align: center;
  padding: 2.5rem 2rem;
  background: white;
  border-radius: 20px;
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.feature-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 40px -10px
    color-mix(in srgb, var(--color-tertiary-dark) 20%, transparent);
}

.feature-icon {
  font-size: 2.5rem;
  display: block;
  /* margin-bottom: 1rem; */
}

.feature-item h4 {
  margin-bottom: 0.5rem;
  color: var(--secondary-800);
}

.feature-item p {
  color: var(--secondary-700);
  line-height: 1.6;
  font-size: 0.95rem;
}

i {
  color: var(--secondary-700);
}