/* ===== NAVBAR ===== */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 1.5rem 0;
  transition: all 0.35s ease;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(6px);
}

.navbar.scrolled {
  background: rgba(255,255,255,0.85);
  backdrop-filter: blur(14px);
  padding: 0.9rem 0;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

/* ===== CONTAINER ===== */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ===== LOGO ===== */

.logo img{
  width: 80px;
  height: 70px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.logo img:hover {
  transform: scale(1.07);
  filter: drop-shadow(0 5px 12px rgba(96,182,240,0.4));
}

/* ===== MENU ===== */

.nav-menu {
  display: flex;
  gap: 2.5rem;
  list-style: none;
}

/* BOTONES */

.nav-menu button {
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(255, 217, 0);
  cursor: pointer;
  position: relative;
  padding: 0.5rem 0;
  transition: all 0.3s ease;
}

/* underline animado desde centro */

.nav-menu button::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background: linear-gradient(
    90deg,
    transparent,
    var(--primary),
    transparent
  );
  transition: width 0.35s ease;
}

.nav-menu button:hover {
  color: var(--primary);
  transform: translateY(-2px);
}

.nav-menu button:hover::after {
  width: 120%;
}

/* ===== MENU ICON ===== */

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 1001;
}

.menu-icon span {
  width: 26px;
  height: 3px;
  background: var(--dark);
  margin: 3px 0;
  border-radius: 5px;
  transition: all 0.35s ease;
}

/* ANIMACION X */

.menu-icon.open span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.menu-icon.open span:nth-child(2) {
  opacity: 0;
}

.menu-icon.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* ===== MOBILE ===== */

@media (max-width: 768px) {

  .menu-icon {
    display: flex;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    max-width: 380px;
    height: 100vh;

    background: rgba(255,255,255,0.9);
    backdrop-filter: blur(20px);

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.2rem;

    transition: right 0.35s ease;
    box-shadow: -10px 0 40px rgba(0,0,0,0.12);
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-menu button {
    font-size: 1.3rem;
  }
}