.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 1.5rem 0;
  transition: all 0.3s ease;
  background: transparent;
}

.navbar.scrolled {
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
  padding: 1rem 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img{
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 80px;
  height: 70px;
}

.logo:hover {
  transform: scale(1.05);
}

.nav-menu {
  display: flex;
  gap: 2.5rem;
  list-style: none;
}


.nav-menu button {
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(96, 182, 240);
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  padding: 0.5rem 0;
  font-weight: bolder;
}

.nav-menu button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--primary);
  transition: width 0.3s ease;
}

.nav-menu button:hover {
  color: var(--primary);
}

.nav-menu button:hover::after {
  width: 100%;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 1001;
}

.menu-icon span {
  width: 25px;
  height: 3px;
  background: var(--dark);
  margin: 2px 0;
  transition: all 0.3s ease;
  border-radius: 3px;
}

.menu-icon.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-icon.open span:nth-child(2) {
  opacity: 0;
}

.menu-icon.open span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}

@media (max-width: 768px) {
  .menu-icon {
    display: flex;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    max-width: 400px;
    height: 100vh;
    background: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transition: right 0.3s ease;
    box-shadow: -5px 0 20px rgba(0, 0, 0, 0.1);
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-menu button {
    font-size: 1.2rem;
  }
}