/* ===== SECCION GENERAL ===== */
.fondo {
  background: #faf7f2;
  padding: 60px 20px;
  text-align: center;
}

/* ===== TITULOS ===== */
.titulos h2 {
  font-size: 2.2rem;
  margin-bottom: 10px;
  color: #3a2c2c;
}

.titulos h5 {
  font-weight: normal;
  color: #777;
  margin-bottom: 40px;
}

/* ===== CONTENEDOR ===== */
.contenedor-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

/* ===== CARD ===== */
.card {
  width: 260px;
  background: rgb(255, 255, 255);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

/* Hover elegante */
.card-hover:hover {
  border: #dda138 solid;
  transform: translateY(-8px);
  box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.15);
}

/* ===== IMAGEN ===== */
.img-productos {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* ===== CONTENIDO ===== */
.card-body {
  padding: 18px;
}

.card-title {
  font-size: 1.3rem;
  margin-bottom: 8px;
  color: #3a2c2c;
}

.card-text {
  font-size: 0.95rem;
  color: #666;
}
